body {
  padding-top: 50px;
}
.text-bold {
  font-weight: bold;
}
.text-v-align-middle {
  vertical-align: middle;
}
/* List-Table Style */
.list-table .id-col {
  width: 80px;
}
.list-table .joined-col {
  width: 120px;
}
.list-table .age-col {
  width: 80px;
}
.list-table .orders-col {
  width: 80px;
}
.list-table .orders-col .badge {
  background-color: #000000;
}
.list-table .details-col {
  width: 120px;
}
/* Site Header & Site  Navigation */
.site-header .navbar {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.site-header .navbar-brand {
  margin: 0;
}
/* Site Footer */
.site-footer-pusher {
  height: 40px;
}
.site-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5);
}
.site-footer .foot-content-credit {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #CCC;
}
/* Site Main Body */
/* Customer List Table */
#customer-list-table TD {
  vertical-align: middle;
}
