		<!--Title Starts-->
		<div class="site-main-title">
			<h1>Customers Info <small>Shown in Table</small></h1>
		</div>
		<!--Title Ends-->
		
		<!--Content Body Starts-->
		<div class="site-main-body" ng-controller="CustomersController">

			<!--Responsive Table Starts-->
			<div class="table-responsive">
				<table id="customer-list-table" class="list-table table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th class="id-col text-center">ID</th>
							<th class="name-col text-center">Name</th>
							<th class="joined-col text-center">Joined</th>
							<th class="age-col text-center">Age</th>
							<th class="total-spent-col text-center">Total Spent</th>
							<th class="orders-col text-center">Orders</th>
							<th class="details-col text-center"><i class="fa fa-database"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="customer in customers">
							<td class="text-center text-center">{{customer.id}}</td>
							<td class="name-col text-bold text-center">{{customer.name}}</td>
							<td class="joined-col text-center">{{customer.joined | date:'yyyy-MM-dd (EEEE)'}}</td>
							<td class="age-col text-center">{{customer.age}}</td>
							<td class="total-spent-col text-center">{{customer.orderTotal | currency}}</td>
							<td class="orders-col text-center"><span class="badge">{{customer.orders.length}}</span></td>
							<td class="details-col text-center"><a href="#" class="btn btn-info">Details <i class="fa fa-caret-right"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--Responsive Table Ends-->