	<!--Header Starts-->
	<header class="site-header">

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				
				<!--Bradning-->
				<div class="navbar-header">
					<h1 class="navbar-brand">
						<a href="index.html"><span class="sr-only">Web App</span><i class="fa fa-leaf fa-lg"></i></a>
					</h1>
				</div>

				<!--Navigation-->
				<ul class="site-navigation nav navbar-nav navbar-right">
					<li><a href="#" title="You"><i class="fa fa-user"></i><span class="sr-only">You</span></a></li>
					<li><a href="#" title="Task"><i class="fa fa-tasks"></i><span class="sr-only">Task</span></a></li>
				</ul>

			</div>
		</nav>

	</header>
	<!--Header Ends-->